[global]
engine_dir = "/path/to/output_trained_engine"

[mqtt]
username = ""
password = ""
host = "localhost"
port = 1883
tls = false
ssl_cert = "/path/to/mycert.cert.pem"
ssl_key = "/path/to/mycert.key.pem"
ssl_cert_chain = "/path/to/ca-chain.cert.pem"
